<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="static/delta.css">
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../static/delta.css">
     <title>
      Admin HomePage
     </title>
  <style>
        @font-face { font-family: Quicksand-Bold; src: url('Quicksand-Bold.ttf'); }  
        h1 {
           font-family: Quicksand-Bold
        }
  </style>
        </head>

        <body>
            <p1 class="p1">
                <h2 class="Title"><a href="/admin" style="text-decoration: none; color: #91DDF2; padding-top: 1em;"><i>Admin</i></a></h2>
                <div1><button class="button" style="vertical-align:middle" style="text-decoration: none;"><a href="/admin/manage"><span>Products</span></a></button>
                <button class="button" style="vertical-align:middle" style="text-decoration: none;"><a href="/admin/account_manage"><span>Accounts</span></a></button>
                <button class="button" style="vertical-align:middle" style="text-decoration: none;"><a href="/login"><span>Login</span></a></button>
                <!---<button class="button" style="vertical-align:middle" style="text-decoration: none;"><a href="Contact.html"><span>Contact</span></a></button>-->
                </div1>  
              
        </body>
{% block content %}{% endblock %}
<!--     </html> -->