{% extends "admin/base.html" %}
{% block content %}
<h1 style="display: flex; flex: 50%;">Products</h1>
<body>
<table id="keywords" cellspacing="45" cellpadding="20" style="padding: 30%;">
<tr><th>Item ID</th><th>Name</th><th>Price</th></tr>
{% for item in product_lst %}
<table id="keywords" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>{{item["item_id"]}}</td>
      <td>{{item["name"]}}</td>
      <td>${{item["price"]}}</td>
      </tr>
  </tbody>
</table>
{% endfor %}
<div class="login-box" style="display: flex;">
  <h2>Create Item</h2>
  <form action="/admin/api/add_item" method="get">
    <div class="user-box">
      <input type="text" name="name" required="">
      <label>Item Name</label>
    </div>
    <div class="user-box">
      <input type="number" name="price" required="">
      <label>Price</label>
    </div>
    <input type="submit">
  </form>
</div>
<div class="login-box">
  <h2>Delete Item</h2>
  <form action="/admin/api/delete_item" method="get">
    <div class="user-box">
      <input type="text" name="name" required="">
      <label>Item Name</label>
    </div>
    <input type="submit">
  </form>
</div>
</body>
</html>
{% endblock %}
