.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-container1 {
    width: 100%;
    height: 61px;
    display: flex;
    position: relative;
    align-items: center;
    border-color: #CC313D;
    border-style: dashed;
    border-width: 2px;
    justify-content: flex-end;
    background-color: #CC313D;
  }
  .home-link {
    color: #F7C5CC;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .home-link1 {
    color: #F7C5CC;
    margin-right: var(--dl-space-space-threeunits);
  }
  .home-container2 {
    width: 100%;
    height: 99px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    border-color: #F7C5CC;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F7C5CC;
  }
  .home-text {
    color: #CC313D;
    font-size: 48px;
    margin-left: 10%;
    font-weight: 300;
    align-self: center;
    margin-left: var(--dl-space-space-sixunits);
    margin-right: var(--dl-space-space-sixunits);
  }
  .home-link2 {
    color: #CC313D;
    margin-left: var(--dl-space-space-sixunits);
    margin-right: 0px;
  }
  .home-link3 {
    color: #CC313D;
    margin-right: 0px;
  }
  .home-link4 {
    color: #CC313D;
    margin-left: 0px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .home-container3 {
    right: -1px;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    bottom: -1px;
    height: 99px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    border-color: #F7C5CC;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    background-color: #F7C5CC;
  }
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }