@font-face { font-family: Quicksand-Bold; src: url('Quicksand-Bold.ttf'); } 

.Title {
  font-size: 38px;
  font-family: Quicksand-Bold;
  text-align: center;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: left;
  position: absolute;
  top: 6%;
  left: 87%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.main2 {
  padding-top: 60px;
  font-style: italic;
  padding-bottom: 40px;
  text-align: center;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 22px;
  font-family: Quicksand-Bold;
  color: #CC313D;
}

.button {
  color: black;
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border-radius: black;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2.5%;
  margin-left: 85px;
  font-family: Quicksand-Bold;
}

.button span {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: black;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.main1 {
  text-align: center;
  padding-top: 40%;
  padding-top: 2em;
  display: block;
  font-size: 40px;
  font-family: Quicksand-Bold;
  color: #CC313D;
}


.image1 {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  transition: transform .2s;
}
.image1:hover{
  transform: scale(1.1);
}

.footer-clean {
  display: block;
  padding-top: 40px;
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}


