{% extends "frontend/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Main.css">
    <title>Homepage</title>
</head>
<body>
    <p2 class="main1">
        La Rose fanée
      </p2>
      <p3 class="main2">
        ~The only place to go for the best in Perfumes, Makeup and Assorted Accessories~
      </p3>
      <img class="image1" src="static\images\BANNER-DIOR21.jpg">
      <img class="image2" src="static\images\D2 vert.jpg">
      <img class="image3" src="static\images\D1_vert.jpg">

      <p3 class="main2">
        
      </p3>
      <p4 class="gristext">
        <span>
        <!-- Gris Dior by Dior is a Floral fragrance for women and men. Gris Dior was launched in 2017. 
        The nose behind this fragrance is Francois Demachy. 
        This fragrance is dedicated to famous Gris Dior color and to Brand's 70th anniversary. 
        Gris Dior, previously known as Gris Montaigne, has the same olfactory composition. -->
        </span>

      </p4>
    <!-- {{products_lst}} -->
</body>
</html>

{% endblock %}