{% extends "frontend/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <p2 class="main1">
        La Rose fanée
      </p2>
      <p3 class="main2">
        ~The only place to go for the best in Perfumes, Makeup and Assorted Accessories~
      </p3>
      <img class="image1" src="static\images\BANNER-DIOR21.jpg">
      <p3 class="main2">
        - 
      </p3>
    {{products_lst}}
</body>
</html>

{% endblock %}