{% extends "frontend/base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/signup/create" method="POST">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="password" name="confirm_password">
  <input type="submit" name="" id="">
</form>
{% endblock %}