{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static\Signup.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
	<a href="/" style="position: absolute; top: 8px; left: 16px;"><img height="40px" width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Left_arrow.svg/434px-Left_arrow.svg.png" alt="arrow"></a>
  
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="/signup/create" method="post">
			<h1>Sign Up</h1>
			<form action="/signup/create" method="POST" autocomplete="off">
        <input type="text" name="username">
        <input type="password" name="password" id="password">
        <input type="password" name="confirm_password" id="confirm_password" onkeyup="do_ajax()">
        <input type="submit" name="" id="">
      </form>
			<input type="submit" value="Sign In" class="btn btn-primary"/>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<a class="ghost" id="signUp" href="/login"><button>Login</button></a>
			</div>
		</div>
	</div>
</div>
<div id="result">
</div>
</body>
<script type="text/javascript">
    function do_ajax() {
      var req = new XMLHttpRequest();
      var result = document.getElementById('result');
      req.onreadystatechange = function()
      {
        if(this.readyState == 4 && this.status == 200) {
          result.innerHTML = this.responseText;
        } else {
          result.innerHTML = "error";
        }
      }

      req.open('POST', '/is_xml', true);
      req.setRequestHeader('content-type', 'application/json');
      req.send(JSON.stringify({"password":document.getElementById('password').value,"confirm_password":document.getElementById('confirm_password').value}));
    }
  </script>
</html>